.AboutContainer {
  text-align: left;
  padding: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff; /* White for text */
  background-color: #333; /* Dark background */
}

.BigBoldText {
  font-size: 2.5rem;
  color: #fff; /* White for titles */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a drop shadow to the text */
}

.CardTitle {
  font-size: 1.5rem;
  color: #fff; /* White for subtitles */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a drop shadow to the text */
}

.Paragraph {
  font-size: 1rem;
  color: #fff; /* White for paragraph text */
  margin-top: 10px;
  font-weight: bold;
}

.Highlight {
  background: linear-gradient(90deg, rgba(150, 255, 255, 0.7), #fff, rgba(255, 150, 255, 0.7), #fff, rgba(150, 255, 255, 0.7));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: gradient-flow 5s linear infinite; /* Apply the gradient animation */
  background-size: 200% 200%; /* Ensure the gradient covers the entire text */
}

.SocialLinks {
  margin-top: 20px;
}

.SocialIcon {
  margin: 0 10px;
  color: #fff; /* White for social icons */
  font-size: 24px;
  transition: color 0.3s;
  font-weight: bold;
}

.SocialIcon:hover {
  color: rgba(150, 255, 255, 0.7); /* Lighter color on hover */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Make it glow on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}