@import '../utilities.css';

.about-container {
  display: flex;
  justify-content: space-around; /* Changed from space-between to space-around to bring the fact card in some */
  padding: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: var(--text-color); /* White for text */
  background-color: var(--background-color); /* Dark background */
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  padding: 20px;
  flex: 1;
  text-align: left; /* Left justify text */
}

.title {
  font-size: 8rem; /* Increased font size */
  font-weight: bold;
  background: var(--gradient-colors); /* Added light blue to the gradient */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  color: var(--text-color); /* White for paragraph text */
  margin-top: 10px;
  font-weight: bold;
}

.blog-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the top-left */
  justify-content: flex-start; /* Align content to the top-left */
  gap: 15px; /* Added space between blog links */
}

.blog-title {
  font-size: 1.5rem;
  color: var(--text-color); /* White for blog titles */
  margin-top: 10px;
  font-weight: bold;
}

.blog-description {
  font-size: 1rem;
  color: var(--text-color); /* White for blog descriptions */
  margin-top: 5px;
  font-weight: normal;
}

.blog-links a {
  font-size: 1rem;
  color: var(--text-color); /* White for links */
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
}

.blog-links a:hover {
  color: var(--hover-color); /* Lighter color on hover */
  text-shadow: 0 0 10px var(--hover-text-shadow); /* Make it glow on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.fact-card-container {
  display: flex;
  justify-content: flex-end;
  margin-right: calc(0.1vw + 20px); /* Bring the fact card inside by about 0.1vw */
  flex: 0 0 300px; /* Fixed width for the fact card container */
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.paragraph {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 20px;
}
