.AboutContainer {
  text-align: left;
  padding: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #000000; /* Black for text */
  background-color: #FFFFFF; /* White background */
}

.Title {
  font-size: 2.5rem;
  color: #6A0DAD; /* Dark purple for titles */
  font-weight: bold;
}

.Subtitle {
  font-size: 1.5rem;
  color: #9B30FF; /* Lighter purple for subtitles */
  font-weight: bold;
}

.Paragraph {
  font-size: 1rem;
  color: #000000; /* Black for paragraph text */
  margin-top: 10px;
  font-weight: bold;
}

.Highlight {
  color: #6A0DAD; /* Dark purple for highlighted text */
  font-weight: bold;
}

.SocialLinks {
  margin-top: 20px;
}

.SocialIcon {
  margin: 0 10px;
  color: #000000; /* Black for social icons */
  font-size: 24px;
  transition: color 0.3s;
  font-weight: bold;
}

.SocialIcon:hover {
  color: #9B30FF; /* Lighter purple on hover */
}
