.home-container {
    text-align: center;
    margin-top: 50px;
    font-family: 'Helvetica Neue', sans-serif; /* Apple-like bold, huge, clean font */
    color: #FFFFFF; /* White text for contrast against black background */
    background: transparent; /* Transparent background for a modern, space-y look */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Subtle white shadow for depth */
    overflow: hidden; /* Prevents any child elements from overflowing and hides scrollbars */
}

.vaporwave-button {
    background-color: transparent; /* Transparent background */
    color: #FFFFFF; /* White text */
    padding: 15px 32px;
    text-align: center;
    font-size: 24px; /* Larger text for better readability, increased size */
    font-weight: bold; /* Bold text for emphasis */
    margin: 20px 2px;
    cursor: pointer;
    border: 2px solid #3b5998; /* Bold blue border */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Subtle white shadow for depth */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition */
}

.vaporwave-button:hover {
    border-color: #8b9dc3; /* Light blue border on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); /* More intense white shadow on hover */
}

.vaporwave-snarky-message {
    margin-top: 20px;
    font-size: 22px; /* Larger text for emphasis, increased size */
    color: #FFFFFF; /* White text for readability */
    text-shadow: none; /* Remove glowing effect */
    font-family: 'Helvetica Neue', sans-serif; /* Apple-like bold, huge, clean font */
    font-weight: bold; /* Bold text for emphasis */
}

canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #3b5998; /* Blue border */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Subtle white shadow for depth */
    border-radius: 8px;
    max-width: 100%; /* Ensures canvas does not overflow its container */
    height: auto; /* Maintains aspect ratio while adjusting to width */
    overflow: hidden; /* Hides any scrollbars that may appear */
}
