@import '../utilities.css';

.flavor-text {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease, text-shadow 0.3s ease, background-position 0.3s ease;
    color: var(--flavor-text-0-color); /* Use variable for text color */
    text-decoration: none;
    background: var(--flavor-text-0-gradient); /* Use variable for gradient */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 5s linear infinite; /* Always animate gradient */
    background-size: 200% 200%;
}

.flavor-text:hover {
    text-shadow: 0 0 10px var(--hover-text-shadow); /* Use variable for glow effect */
    animation-duration: 1s; /* Speed up animation on hover */
    cursor: pointer; /* Turn the pointer to the hand */
}

.flavor-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}

.flavor-text:hover::before {
    opacity: 0;
}

.flavor-text-type-1 {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease, text-shadow 0.3s ease, background-position 0.3s ease;
    color: var(--flavor-text-1-color); /* Use variable for text color */
    text-decoration: none;
    background: var(--flavor-text-1-gradient); /* Use variable for gradient */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 5s linear infinite; /* Always animate gradient */
    background-size: 200% 200%;
    user-select: none; /* Make text unselectable */
}

.flavor-text-type-1:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Glow effect */
    animation-duration: 1s; /* Speed up animation on hover */
}

.flavor-text-type-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}

.flavor-text-type-1:hover::before {
    opacity: 0;
}

.flavor-text-type-2 {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease, text-shadow 0.3s ease, background-position 0.3s ease;
    color: var(--flavor-text-2-color); /* Use variable for text color */
    text-decoration: none;
    background: var(--flavor-text-2-gradient); /* Use variable for gradient */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 5s linear infinite; /* Always animate gradient */
    background-size: 200% 200%;
}

.flavor-text-type-2:hover {
    text-shadow: 0 0 10px var(--hover-text-shadow); /* Use variable for glow effect */
    animation-duration: 1s; /* Speed up animation on hover */
}

.flavor-text-type-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}

.flavor-text-type-2:hover::before {
    opacity: 0;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
